/*
    CORES HEXADECIMAIS

        abcdef

        binário 01

        numérico 0123456789

        hexadecimal 0123456789ABCDEF

        RGB = Red Green Blue

        # _ _ _ _ _

        0 = ausência

        F = Máximo

        #000000

        #FFFFFF

        #FF0000

        red
        blue
        yellow

        RGB 0,1,2,3...255

        0 = ansência

        255 = máximo

        rgb(255,255,255)

        rgb(0,0,255)
*/

/*
    CSS = Estilo de folha em cascata
*/

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}